<h3> <%= @user.username %>'s teams: </h3>
    <% @teams.collect do |team| 
        if team.user_id  == @user.id %>
        <div>
            <a href='/teams/<%= "#{team.slug}" %>'><%= team.team_name %>
        </div>

        <% end %> 
        <% end %>

          <div style="position: absolute; left: 35%; top: 20%;">
    <img height = "600px" width = "1000px" src="/images/champ_img/team2.jpg">
    </div>


