
<h1>Create a team!<h1>  
<form action="/teams" method="post">     
      <div class="input-field">           
            <input id="team_name" name="user[team_name]" type="text" class="validate"><label for="team_name">Team Name</label>     
      </div>  
 
            <div style="display: flex; flex-direction: column; align-items: left; justify-content: center;">
                  <%Champion.all.each do |champ|%> 
                  <div style="display: flex; align-items: center; white-space: no-wrap; 
    width: 18%; height: 20px; margin: 0px; padding: 0px;">
                        <label  style="color:black; margin-right: auto;"><%=champ.Name%></label> 
                        <input value="<%=champ.id%>" style=" position: relative; opacity: 1; pointer-events: initial;" type="checkbox"  name="user[champion_ids][]" />

                  </div>    
                        <%end%>   
            </div>
      <div style="position: absolute; left: 35%; top: 33%;" >      
      <input type="submit" value="Create Team" class="btn">
      </div>
        </form>