<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h2>Legends Duels coming soon!!!</h2>

<p>-find current user
    -list current users teams
    -create checkbox form for current users teams
    -ensure only one checkbox can be checked
</p>
<p>-list all Users
-create checkbox form to select a single user
-list all selected users teams
-create a checkbox form for selected users teams
-ensure only one checkbox can be checked
</p>
<p>-reroute to a new page 
-show current uers team and selected users team
</p>


<h4>Option 2</h4>
<p>-create duel button on teams/show page
-reroute to duels/new page
-show current users teams
-create checkbox form to select a current users teams
-show selected team
-do math
-duel current users selected team VS selected team via duel button
</p>
    

<!--<h3>Select one of your teams</h3>

<% @user.teams.each do |team| %>
<ul>
<li><a href="/duels/<%= team.id %>"><%= team.team_name%></a></li>
</ul>


<% end %>

  <label>Team</label>
  <select class="browser-default">
    <option value="" disabled selected>Select team</option>
    <option value="<%= @user.teams[0].id %>"><%= @user.teams[0].team_name %></option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>

</body>
</html> -->