<h1>Welcome Page<h1>

<h1>Teams List</h1>
<ul>
<% @teams.each do |team|%>
<li><a href="/teams/<%= team.id %>"><%= team.team_name %></li>
<% end %>
</ul>


  <!--  <style>body {
    background-color: rgb(75, 85, 86);
    color: rgb(200, 200, 200);
    font-family: Sans-Serif;
    line-height: 18px;
  }
  </style>
  -->