<h3> <%= @champ.Name %>'s Stats:</h3>



<% @stats.each do |k,v| %>   <%= "#{k}" %>: <%= "#{v}" %> <br /> <% end %>

<a href="/champions" class="waves-effect waves-light btn">Champions List</a>
<a href="/teams" class="waves-effect waves-light btn">My Teams</a>